.footer__container{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(122, 122, 122);
    padding: 2% 0;
}


.footer__img{
    margin-left: 2rem;
    width: 135px;
    height: 100px;
}

.footer__list__links{
    padding-left: 0;
    margin-right: 0.5rem;
    display:flex;
    justify-content: space-around;
    list-style: none;
    width: 55%;
}


.footer_item__link{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    width: 100%;
}

@media  screen and (max-width: 920px) {
    .footer__list__links{
        width: 70%;
    
    }
}

@media  screen and (max-width: 700px) {
    .footer__container{
        align-items: center;
    }
    
    .footer__list__links{
        flex-direction: column;
        width: 23%;
    }

    .footer_item__link{
        margin-left: 1rem;
        margin-bottom: 1rem;
    }


}

@media  screen and (max-width: 570px) {
    .footer_item__link{
        margin-left: 0;
    }
}

@media  screen and (max-width: 450px) {
    .footer__list__links{
        width: 27%;
    }
}

@media  screen and (max-width: 415px) {

    .footer__list__links{
        width: 30%;
    }

    .footer_item__link{
        font-size: 14px;
    }

}
@media  screen and (max-width: 370px) {
    .footer__list__links{
        width: 33%;
    }

}
@media  screen and (max-width: 350px) {
    .footer__img{
        margin-left: 0.5rem;
    
    }


    .footer__list__links{
        width: 35%;
        margin-right: 0.5rem;
    }
}