
.header__container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 2% 0;
    background-color: rgb(238, 240, 240);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}


.header__logo{

    margin-top: 2rem;
    width: 20%;

}

.header__list_links{
    /* border-bottom: rgb(140, 207, 207) 6px solid; */
    margin: 0  0;
    padding: 0 0;
    width: 65%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header_item__link{
    color: #000000;
    font-size: 22px;
    font-weight: 600;
}

.header_item__link:hover{
    color: rgb(110, 182, 182);
}

.menu__burguer_imagem{
    width: 100%;
}


.menu__responsive{
    margin-right: 1rem;
    width: 15%;
    display: none;
}


    @media  screen and (max-width: 1000px){
        .header__logo{
        width: 25%;
        margin-left: 0.7rem;
    }
    .header__list_links{
        width: 60%;
    }
    .header_item__link{
        font-size: 20px;
    }

    }

 @media  screen and (max-width: 715px){
        .header__list_links{
        width: 65%;
        }
    .header_item__link{
        font-size: 18px;
    }
 }

@media  screen and (max-width: 599px) {
    .header__container{
        align-items: flex-end;
    }

    .header__logo{
        width: 35%;
        margin-left: 0.7rem;
    }

    .header__list_links{
        display: none;
    }

    .header_item__link{
        margin-bottom: 2rem;
    }

    .menu__responsive{      
        display: inline;
    }
    
}

@media  screen and (max-width: 450px) {
        .header__logo{
        width: 40%;
        margin-left: 0.7rem;
    }

        .menu__responsive{
        width: 20%;        
    }
}

@media  screen and (max-width: 350px) {
        .header__logo{
        width: 45%;
        margin-left: 0.7rem;
    }
}
